@charset "UTF-8";
.facebook {
  color: green; }

.twiter {
  color: yellow; }

.instagram {
  color: white; }

.estilocardsdelmain, .segundoestilo {
  align-items: center;
  margin: 1rem;
  font-size: medium; }

.segundoestilo {
  padding: 1rem; }

.parrafos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center; }

body {
  background: linear-gradient(0.25turn, #edf7ec, #eeec63, #316d06a6);
  background-size: cover;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

header {
  background-image: url(../img/imagentitulo.jpeg);
  height: 50rem;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  background-size: cover; }
  header h1 {
    padding: 2rem;
    text-align: center;
    justify-content: center;
    font-size: 7rem;
    font-family: 'Quintessential', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Water Brush', cursive; }
  header h1 {
    justify-content: center;
    font-family: 'Quintessential', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Water Brush', cursive; }
  header h2 {
    justify-content: center;
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Water Brush', cursive;
    font-size: 5rem; }
  header .menú {
    padding: 1rem;
    text-align: center; }
  header li {
    list-style: none;
    text-align: center; }

h3 {
  text-align: center;
  padding-top: 3rem;
  font-family: fantasy; }

main .col-4-driver img {
  width: 12rem; }

main h3 {
  font-weight: bold;
  font-size: xx-large; }

main p {
  font-weight: bold;
  font-size: larger; }

main th {
  margin: 1rem;
  padding: 2rem;
  background-color: #eeec63;
  border: 1px solid black; }

main .formulario {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid black; }

section {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding: 2rem; }
  section div {
    margin-left: 5rem; }
  section .card1 img {
    width: 15rem; }
  section .card2 img {
    width: 13rem;
    height: 17rem; }
  section p {
    text-align: center;
    font-family: fantasy; }

@media (max-widht: 867) {
  section {
    display: flex;
    flex-direction: column; } }

h4 {
  text-align: center;
  padding-top: 3rem;
  font-family: fantasy; }

article {
  text-align: center;
  margin: 5rem;
  font-weight: bold; }
  article .imgcontainer7 {
    height: 15rem; }
  article .imgcontainer9 {
    height: 13rem; }
  article .bolsas p {
    font-size: fantasy;
    font-size: larger; }

.col {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem; }
  .col p {
    font-weight: bold; }

.card-group {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center; }
  .card-group .card img {
    align-items: center; }
  .card-group .card-img-top-1 {
    align-items: center;
    height: 12rem;
    width: 15rem; }
  .card-group .card-img-top-2 {
    height: 12rem;
    width: 15rem; }
  .card-group .card-img-top-3 {
    align-items: center;
    height: 12rem;
    width: 15rem; }
  .card-group .card-img-top-4 {
    height: 12rem;
    width: 15rem; }
  .card-group .card-img-top-5 {
    width: 15rem;
    height: 12rem; }
  .card-group .card-img-top-6 {
    width: 12rem;
    height: 12rem; }

/*article indumentaria*/
article .card {
  align-items: center; }

article .imagen-indumentaria {
  display: flex;
  align-content: space-between;
  flex-direction: row; }

article .img-ind-section {
  width: 20rem;
  height: 20rem; }

article li {
  list-style: none; }

.grid-container-footer {
  display: grid;
  /*grid-template-rows: 23rem;
    margin-top: 18rem;*/
  margin: 0%;
  align-items: center;
  justify-content: center; }
  .grid-container-footer h3 {
    margin: 1rem;
    text-align: center;
    font-size: x-large; }
  .grid-container-footer ul {
    text-align: center;
    margin: 1rem;
    padding: 1rem; }
  .grid-container-footer li {
    display: inline;
    text-align: center; }
  .grid-container-footer h4 {
    text-align: center;
    font-size: large; }

.grid-container-footer {
  display: grid;
  margin-top: 18rem;
  margin: 0%;
  align-items: center;
  justify-content: center; }

ul {
  text-align: center;
  justify-content: center; }

footer li {
  display: inline; }

footer p {
  text-align: center;
  font-weight: bold; }
