@charset "UTF-8";
.parrafos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center; }

.estilogeneral, .estilogeneral2 {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif; }

body {
  background-color: #d8d8c8; }

.menú ul h1 {
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  background-color: linear-gradient(to left, blue, grey); }

.menú ul li {
  list-style: none;
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  border: 1px 1px 1px 1px;
  position: relative;
  left: 280px;
  border-right: 1px solid white; }

.menú ul .boton {
  color: blue;
  background-color: grey; }

.menú ul a {
  color: white; }

.container .col {
  border: 1px none black;
  text-align: center;
  padding: 1rem;
  background-color: white; }

.container:hover {
  color: blue;
  background-color: grey; }

main .grid-container {
  display: grid;
  background-image: grey;
  grid-template-columns: 23rem 23rem 23rem;
  grid-template-rows: 23rem 23rem;
  margin-top: 18rem;
  margin: 0%;
  align-items: center;
  justify-content: center; }

main h2 {
  text-align: center;
  font-size: x-large;
  background-color: cornflowerblue;
  margin: 2rem; }

main h3 {
  font-size: medium; }

main div {
  padding: 1rem;
  background-color: whitesmoke;
  border: 1px solid black;
  color: black;
  text-align: center;
  align-items: center;
  font-size: medium;
  justify-content: center; }

main:hover {
  color: blue;
  background-color: grey; }

main .grid-container .img1 img {
  width: 20rem;
  height: 10rem; }

main .grid-container .img1 .img1 h3 {
  font-size: medium; }

main .grid-container .card {
  align-items: center;
  border: 1px solid; }
  main .grid-container .card .card-img-top-1 {
    margin: 1rem; }
  main .grid-container .card .img1 h3 {
    font-size: medium; }

main .grid-container .card-2 img {
  width: 9rem; }

main .grid-container .card-3 img {
  width: 10rem; }

main .grid-container .card-img-top-3 {
  margin: 1rem; }

main .grid-container .img3 img {
  width: 12rem;
  height: 8rem; }

main .grid-container .img3 h3 {
  font-size: medium; }

main .grid-container .card-4 img {
  width: 9rem; }

main .grid-container .card-5 img {
  width: 10rem; }

main .grid-container .card-5 h2 {
  font-size: large; }

main .grid-container .card-6 img {
  width: 9rem; }

main .grid-container .card-7 img {
  width: 10rem; }

main .grid-container .card-8 img {
  width: 9rem; }

main .grid-container .card-img-top-2 {
  margin: 1rem; }

main .grid-container .card-img-top-4 {
  margin: 1rem; }

main .grid-container .card-img-top-5 {
  margin: 1rem;
  height: 8rem; }

main .grid-container .card-img-top-6 {
  margin: 1rem;
  height: 8rem; }

main .img2 img {
  width: 9rem; }

main .img2 h3 {
  font-size: medium; }

main .img4 img {
  width: 12rem; }

main .img4 h3 {
  font-size: medium; }

main .img5 img {
  width: 11rem; }

main .img5 h3 {
  font-size: medium; }

main .img6 img {
  width: 9rem; }

main .img6 h3 {
  font-size: medium; }

main .card img {
  width: 11rem; }

main .card-2 img {
  width: 9rem; }

main .card-3 img {
  width: 10rem; }

main .card-4 img {
  width: 9rem; }

main .card-5 img {
  width: 10rem; }

main .card-5 h2 {
  font-size: large; }

main .card-6 img {
  width: 9rem; }

main .card-7 img {
  width: 10rem; }

main .card-8 img {
  width: 9rem; }

article ul {
  list-style: none;
  display: flex;
  justify-content: center; }

article li {
  height: 3rem;
  width: 12rem;
  margin: 1rem; }

section {
  list-style: none; }
  section grid-container-section section ul {
    display: grid;
    background-image: linear-gradient(grey, #6969ce);
    grid-template-columns: 23rem 23rem 23rem;
    grid-template-rows: 23rem 23rem;
    margin-top: 18rem;
    margin: 0%;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: center; }
  section grid-container-section .hijos h3 {
    margin-top: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: x-large;
    background-color: #5353dd; }
    section grid-container-section .hijos h3 ul {
      display: grid;
      background-image: linear-gradient(grey, #6969ce);
      grid-template-columns: 23rem 23rem 23rem;
      grid-template-rows: 23rem 23rem;
      margin-top: 18rem;
      margin: 0%;
      align-items: center;
      text-align: center;
      justify-content: center; }
  section .hijos li .compra-protegida img {
    width: 20rem;
    height: 15rem; }
  section .hijos li h4 {
    display: inline;
    font-size: medium;
    padding: 1rem;
    margin: 1rem; }
  section .hijos li p {
    list-style: none;
    font-size: medium; }
  section .formas-de-pago img {
    width: 20rem;
    height: 15rem; }

.grid-container-footer {
  margin: 1rem;
  text-align: center;
  font-size: xx-large; }
  .grid-container-footer ul {
    text-align: center;
    margin: 1rem;
    padding: 1rem; }
  .grid-container-footer li {
    display: inline;
    text-align: center; }
  .grid-container-footer h4 {
    text-align: center;
    font-size: x-large; }

.grid-container-footer {
  display: grid;
  background-color: cornsilk;
  grid-template-rows: 23rem;
  margin-top: 18rem;
  margin: 0%;
  align-items: center;
  justify-content: center; }
  .grid-container-footer ul {
    text-align: center;
    justify-content: center; }
  .grid-container-footer .imagen {
    transition: all; }
  .grid-container-footer:hover {
    transform: rotate(50deg); }
