@import "variables", "maps", "extend", "mixing";
.img-fluid{
  height: 200px!important;
}
body {
  //background: linear-gradient(0.25turn, #edf7ec, #eeec63, #316d06a6);
  background-size: cover;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-image: url(../img/imagentitulo.jpeg);
  height: 50rem;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    padding: 2rem;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    font-family: "Quintessential", cursive;
    font-family: "Ubuntu", sans-serif;
    font-family: "Water Brush", cursive;
  }
  h1 {
    justify-content: center;
    font-family: "Quintessential", cursive;
    font-family: "Ubuntu", sans-serif;
    font-family: "Water Brush", cursive;
  }
  h2 {
    justify-content: center;
    text-align: center;
    font-family: "Quintessential", cursive;
    font-family: "Ubuntu", sans-serif;
    font-family: "Water Brush", cursive;
    font-size: 5rem;
  }
  .menu {
    padding: 1rem;
    text-align: $align-items;
  li {
    list-style: none;
    text-align: $align-items;
  }
}
}

h3{
  text-align: $align-items;
  font-weight: bold;
}

main {
  .d-flex flex-row bd-highlight mb-3{
    text-align: $align-items;
  }
  .col-4-driver img {
    width: 12rem;
  }
  p {
    font-weight: bold;
    font-size: larger;
  }
  .form {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    color: black;}
  
    .formContainer {
        width: 27.5rem;
        text-align: center;
        border: solid 1px;
        border-color: black;
        border-radius: 20px;
        background-color:white;}
  
        .input-border-width {
            width: 25rem;
            transition: all;
  
            &:focus {
                width: 30rem;
                font-size: 20px;
            }
        }
  
        .form-label {
            margin-top: 1rem;
            margin-bottom: 0;
        }
  }




@media only screen and (min-width:0px) 
and (max-width:767px) {
  main{ 
    margin: 0%;
    padding: 0%;
    .d-flex flex-row bd-highlight mb-3{
      display: inline-block;
    }
    .d-flex flex-row bd-highlight mb-3 img{
      width: 5rem; 
    }
    .container{
      margin: 0%;
    .container img{
      width: 12rem;
    }
    .col-4{
      width: 25px;
    }
}
}
}

section {
  margin: 2rem;
  padding: 2rem;
  background: #fdfdfd;
  border-radius: 10px;
  .card indumentaria{
margin-left: 25rem;
    padding: 0%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 1rem;
  }
  .card{
    align-items: center;
    text-align: $align-items;
  }
  .img-fluid{
    width: 20rem;
}
}

h4 {
  text-align: center;
  padding-top: 3rem;
  font-family: $tipo-fuente;
}


@media only screen and (min-width:0px) 
and (max-width:767px) {
  section{ 
    margin: 0%;
    padding: 0%;
      text-align: center;
      align-items: center;
      display: inline-block;
      .card{
        margin-left: 0%;
        align-items:flex-start;
      }
}
} 

//cards article//

.card-group {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: $align-items;

  .card img {
    align-items: $align-items;
  }

  .card-img-top-1 {
    align-items: $align-items;
    height: 12rem;
    width: 15rem;
  }
  .card-img-top-2 {
    height: 12rem;
    width: 15rem;
  }

  .card-img-top-3 {
    align-items: $align-items;
    height: 12rem;
    width: 15rem;
  }

  .card-img-top-4 {
    height: 12rem;
    width: 15rem;
  }

  .card-img-top-5 {
    width: 15rem;
    height: 12rem;
  }

  .card-img-top-6 {
    width: 12rem;
    height: 12rem;
  }
}
/*article indumentaria*/

article {
  .card {
    align-items: $align-items;
  }
  .indumentaria{
    margin: 3rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    align-content:center;
  }
  .imagen-indumentaria {
    display: flex;
    align-content: center
  }
  .img-ind-section {
    width: 20rem;
    height: 20rem;
  }
  ul {
    margin-left: 30rem;
    padding-top: 1rem;
  }
  li {
    list-style: none;
  }
  h3 {
    text-align: $align-items;
    font-weight: bold;
  }
}

.grid-container-footer {
  display: grid;
  /*grid-template-rows: 23rem;
    margin-top: 18rem;*/
  margin: 0%;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 1rem;
    text-align: center;
    font-size: x-large;
  }
  ul {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }
  li {
    display: inline;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: large;
  }


// seguimos con el footer//
.grid-container-footer {
  display: grid;
  margin-top: 18rem;
  margin: 0%;
  align-items: center;
  justify-content: center;
}
ul {
  text-align: center;
  justify-content: center;
}
  li {
    display: inline;
    list-style: none;
  }
  p {
    text-align: $align-items;
    font-weight: bold;
  }
}




